Repository ipfs-force-community/damocles, pull requests merged in 2023-08, with the labels that each got.

#858 Feat/0x5459/display partition indexes
  damocles-manager/cmd/damocles-manager/internal/util_sealer_proving.go
  damocles-manager/cmd/damocles-manager/internal/util_worker.go
  damocles-manager/core/api.go
  damocles-manager/core/client_gen.go
  damocles-manager/core/prover.go
  damocles-manager/core/types_wdpost.go
  damocles-manager/modules/impl/prover/ext/prover.go
  damocles-manager/modules/impl/prover/prover_fake.go
  damocles-manager/modules/impl/prover/prover_prod.go
  damocles-manager/modules/impl/prover/worker/job_mgr_kv.go
  damocles-manager/modules/impl/prover/worker/prover.go
  damocles-manager/modules/impl/prover/worker/rpc.go
  damocles-manager/modules/poster/runner.go
  damocles-manager/modules/sealer/sealer_cli.go
  damocles-manager/pkg/slices/map.go
  damocles-manager/pkg/strings/join.go
  damocles-manager/pkg/strings/join_test.go
  docs/zh/09.独立运行的poster节点.md
Labels: needs-cherry-pick-0.8

#860 fix(worker): make PC2 tasks restartable
  damocles-worker/src/sealing/paths.rs
  damocles-worker/src/sealing/sealing_thread/planner/common/sealing.rs
Labels: damocles-worker

#864 增加token的含义解释 /add description of token
  docs/zh/04.damocles-manager的配置解析.md
Labels: C-docs

#865 为worker文档增加token 注释
  docs/zh/03.damocles-worker的配置解析.md
Labels: C-docs

#866 fix(worker): fix sealing Event::State
  damocles-worker/src/sealing/sealing_thread/planner/common.rs
  damocles-worker/src/sealing/sealing_thread/planner/wdpost.rs
Labels: bug, damocles-worker, needs-cherry-pick-0.8

#874 add timeout for checking store.state / 检查sector信息时添加超时
  damocles-manager/modules/impl/sectors/proving.go
Labels: enhancement, CU-force-community, damocles-manager

#877 fix(manager): wdpost duplicate alloc
  damocles-manager/modules/impl/prover/worker/job_mgr_kv.go
  damocles-manager/modules/impl/prover/worker/job_mgr_kv_test.go
  damocles-worker/src/sealing/sealing_thread/planner/wdpost.rs
Labels: bug, damocles-manager, needs-cherry-pick-0.8

#882 fix(manager): snapdeal: match deal and claim
  damocles-manager/modules/sealer/sealer.go
  damocles-manager/pkg/slices/map.go
  damocles-manager/pkg/slices/slices.go
Labels: bug, needs-cherry-pick-0.8

#895 update en 09 doc
  docs/en/09.poster-node.md
  docs/zh/09.独立运行的poster节点.md
Labels: C-docs

#896 `worker`汇报状态时，获取`manager`的sector状态，如果是finalized的话，就终止`worker`自身的封装。
  damocles-manager/core/api.go
  damocles-manager/core/client_gen.go
  damocles-manager/core/types.go
  damocles-manager/modules/impl/mock/sealer.go
  damocles-manager/modules/sealer/sealer.go
  damocles-worker/src/lib.rs
  damocles-worker/src/rpc/sealer/mod.rs
  damocles-worker/src/sealing/sealing_thread/mod.rs
  damocles-worker/src/sealing/sealing_thread/planner/common.rs
  damocles-worker/src/sealing/sealing_thread/planner/common/task.rs
Labels: enhancement
